<!DOCTYPE html>
<html>

<head>
	<title>Test blog</title>
	<style>
		body {
			border-left: 1px solid rgba(0, 0, 0, 0.1);
			border-right: 1px solid rgba(0, 0, 0, 0.1);
			background: #FEFEFE;
			color: #2E2E2E;
			max-width: 600px;
			margin: 0 auto;
			padding: 7px;
			font-family: sans-serif;
			min-height: 100vh;
		}

		form#post {
			margin: 5px;
			display: flex;
			flex-direction: column;
			margin-bottom: 15px;
		}

		form > * {
			border: none;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			padding: 3px;
		}

		div#info {
			display: flex;
			justify-content: space-between;
			margin-bottom: 7px;
		}

		div#info > * {
			margin: 3px;
			padding-bottom: 2px;
		}

		article {
			background: rgba(0, 0, 0, 0.05);
			padding: 10px;
			margin: 10px;
			box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.35);
		}

		a {
			color: black;
		}
	</style>
</head>

<body>
	<form action="/submit" id="post" method="post">
		<input type="text" name="title" placeholder="Title">
		<input type="text" name="author" placeholder="Author">
		<textarea name="content" form="post"></textarea>
		<input type="submit" value="Post">
	</form>

	<div>
	{{ range . }}
		<article>
			<div id="info">
				<h3><a href="/{{ .ID }}">{{ .Title }}</a></h3>
				<h5>{{ .Author }} - {{ .DisplayDate }}</h5>
			</div>
			<p>{{ .Preview }}</p>
		</article>
	{{ end }}
	</div>
</body>

</html>
