<!DOCTYPE html>
<html>

<head>
	<title>Test blog</title>
	<style>
		body {
			border-left: 1px solid rgba(0, 0, 0, 0.1);
			border-right: 1px solid rgba(0, 0, 0, 0.1);
			background: #FEFEFE;
			color: #2E2E2E;
			max-width: 600px;
			margin: 0 auto;
			padding: 7px;
			font-family: sans-serif;
			min-height: 100vh;
		}

		form#post {
			margin: 5px;
			display: flex;
			flex-direction: column;
			margin-bottom: 15px;
		}

		form > * {
			border: none;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			padding: 3px;
		}

		div#info {
			display: flex;
			justify-content: space-between;
			margin-bottom: 7px;
		}

		div#info > * {
			margin: 3px;
			padding-bottom: 2px;
		}

		article {
			margin: 10px;
		}

		p {
			white-space: pre-wrap;
			line-height: 1.35em;
		}
	</style>
</head>

<body>
	<article>
		<div id="info">
			<h3>{{ .Title }}</h3>
			<h5>{{ .Author }} - {{ .DisplayDate }}</h5>
		</div>
		<p>{{ .Content }}</p>
	</article>
</body>

</html>
